body{
    font-family: 'Poppins', sans-serif;
}


  /*custom navbar links */
  .nav-pills .nav-link {
    background: none;
    border: 0;
    border-radius: 0.25em;
    margin-bottom: 1em;
  }

  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #bbbbbb;
  }  

  /* dashboard cards */
  .custom-icon{
      position: absolute;
      right: 1em;
      top:1.5em;
  }

  .card-footer.d-flex.align-items-center.justify-content-between {
    background-color:#f5f5f5;
   }

